@model Laboratorio3.Models.SongModel;

@{
    ViewData["Title"] = "Song";
}

<h1> @ViewBag.MainTitle </h1>

<div>

    <p>Nombre: @Model.Name</p>
    <p>Artista: @Model.Artist</p>
    <p>Album: @Model.Album</p>
    <p>Genero: @Model.Genre</p>
    <p>Released: @Model.ReleasedDate</p>

</div>